<?xml version="1.0"?>
<config>
	<modules>
		<Tengisa_CsrfProtection>
			<version>1.0.0</version>
		</Tengisa_CsrfProtection>
	</modules>
	<frontend>
        <layout>
            <updates>
                <account>
                    <file>csrfprotection.xml</file>
                </account>
            </updates>
        </layout>
	</frontend>
	<global>
		<events>
			<controller_action_predispatch>
                <observers>
                    <csrfprotection>
                        <class>Tengisa_CsrfProtection_Model_Observer</class>
                        <method>hookToControllerActionPreDispatch</method>
                    </csrfprotection>
                </observers>
            </controller_action_predispatch>
        </events>
        <helpers>
            <csrfprotection>
                <class>Tengisa_CsrfProtection_Helper</class>
            </csrfprotection>
        </helpers>
	</global>
	<phpunit>
		<suite>
			<modules>
				<Tengisa_CsrfProtection />
			</modules>
		</suite>
	</phpunit>
</config>
